
/* layout */
#contents {}

#section1 {
    background: #F0EDEA;
}

#section2 {
    background: #F0EDEA;
}

#section3 {
    background: #F0EDEA;
}

#section4 {
    background: #EFBDAE;
}

#section5 {
    background: #fff;
}

#section6 {
    height: 100vh;
    background: #888;
}

/* header */
#header {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 10000;
    font-family: 'MaruBuri';
    text-align: center;
}

#header strong {
    display: block;
    font-size: 0.5em;
    font-weight: normal;
}

/* sec1 */
.sec1 {
    height: 170vh;
    position: relative;
}

.sec1 h1 {
    position: absolute;
    bottom: 0;
    left: 1.5vw;
    font-size: 20vw;
    line-height: 1;
    z-index: 1000;
    font-family: "Saol Display Regular";
    font-weight: normal;
}

.sec1 .imgWrap1 {
    position: absolute;
    left: 33vw;
    top: 15vw;
    width: 26vw;
    height: 36vw;
    position: relative;
   
}
.sec1 .imgWrap1::before{
    content: '';
    background: url(../../img/KakaoTalk_20211128_120100812.jpg);
    background-position: center top;
    background-size: cover;
    transition: all 0.3s;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;right: 0; bottom: 0;
}
.sec1 .imgWrap1:hover{
   filter: brightness(.5);
}

.sec1 .imgWrap1 strong {
    position: absolute;
    right: 30px;
    top: 80%;
    transform: translateY(-50%);
    color: #fff;
    font-family: 'MaruBuri';
    font-size: 30px;
    text-align: center;
    font-weight: normal;
}

.sec1 .imgWrap1 strong span {
    display: block;
    font-size: 18px;
    font-weight: 300;
}

.sec1 .imgWrap2 {
    position: absolute;
    left: 4vw;
    top: 5vw;
    width: 15vw;
    height: 20vw;
    background: #ccc;
    background: url(../../img/about02@2x.jpg);
    background-position: center top;
    background-size: cover;
    overflow: hidden;
}

.sec1 .imgWrap2 strong {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'MaruBuri';
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    white-space: nowrap;
}

.sec1 .imgWrap2 strong span {
    display: block;
    font-size: 18px;
    font-weight: 100;
}

.sec1 .imgWrap3 {
    position: absolute;
    right: 4vw;
    top: 23vw;
    width: 25vw;
    height: 14vw;
    background: url(../../img/about03@2x.jpg);
    background-position: center top;
    background-size: cover;
    overflow: hidden;
}

.sec1 .imgWrap3 strong {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'MaruBuri';
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    white-space: nowrap;
}

.sec1 .imgWrap3 strong span {
    display: block;
    font-size: 18px;
    font-weight: 100;
}

.sec1 .imgWrap4 {
    position: absolute;
    left: 8vw;
    top: 40vw;
    width: 30vw;
    height: 20vw;
    background: url(../../img/about04@2x.jpg);
    background-position: center top;
    background-size: cover;
    overflow: hidden;
}

.sec1 .imgWrap4 strong {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'MaruBuri';
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    white-space: nowrap;
}

.sec1 .imgWrap4 strong span {
    display: block;
    font-size: 18px;
    font-weight: 100;
}

.sec1 .imgWrap5 {
    position: absolute;
    right: 2vw;
    top: 50vw;
    width: 25vw;
    height: 34vw;
    background: url(../../img/about05@2x.jpg);
    background-position: center top;
    background-size: cover;
    overflow: hidden;
}

.sec1 .imgWrap5 strong {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'MaruBuri';
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    white-space: nowrap;
}

.sec1 .imgWrap5 strong span {
    display: block;
    font-size: 18px;
    font-weight: 100;
}
/* sec2 */
.sec2{
    position: relative;
    height: 250vh;
}
.sec2 h1{
    position: absolute;
    left: 1.5vw; bottom: 0;
    font-size: 20vw;
    line-height: 1;
    z-index: 1000;
    font-family: "Saol Display Regular";
    font-weight: normal;

}
.sec2 .imgSite1{
    position: absolute;
    top: 20vh;
    left: 30vw;
    background-color: red;
    width: 40vw;
    height: 100vh;
    background: url(../../img/about06.jpg);
    background-size: cover;

}
.sec2 .imgSite1 strong {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0);
    font-family: 'MaruBuri';
    font-size: 30px;
    color: #fff;
}
.sec2 .imgSite1 span {
      display: block;
      font-size: 18px;
      font-weight: 100;
      text-align: center;
}
.sec2 .imgSite1 .nyaa{
    position: absolute;
    top: 20vh; left: 10vw;
}
.nyaa a {
    margin-right: 15px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #333;
    float: right;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
    font-size: 13px;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    margin-top: 40px;
}
/* .sec2 .imgSite1 .nyaa a:hover {
    background: #e6e6e6;
    border: 1px solid #adadad;
}

.sec2 .imgSite1:hover .nyaa p,
.sec2 .imgSite1:hover .nyaa a,
.sec2 .imgSite1:hover .nyaa h2 {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.sec2 .imgSite1:hover .nyaa {
    visibility: visible;
    opacity: 1;
} */
.sec2 .imgSite2{
    position: absolute;
    left: 0;
    top:40%;
    background-color: blue;
    width: 45vw;
    height: 50vh;
    background: url(../../img/about07.jpg);
    background-size: cover;
}
.sec2 .imgSite2 strong {
    position: absolute;
    left: 20%;
    top: 4%;
    transform: translate(-50%, 0);
    font-family: 'MaruBuri';
    font-size: 1.875rem;
    color: #000;
}

.sec2 .imgSite2 span {
    display: block;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
}
.sec2 .imgSite2 .nyaa {
    position: absolute;
    top: 0;
    right: 1vw;
}

/* .sec2 .imgSite2 .nyaa a:hover {
    background: #e6e6e6;
    border: 1px solid #adadad;
}

.sec2 .imgSite2:hover .nyaa p,
.sec2 .imgSite2:hover .nyaa a,
.sec2 .imgSite2:hover .nyaa h2 {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.sec2 .imgSite2:hover .nyaa {
    visibility: visible;
    opacity: 1;
} */
.sec2 .imgSite3{
    position: absolute;
    right: 0;
    top:63%;
    background-color: blue;
    width: 45vw;
    height: 50vh;
    background: url(../../img/about8.jpg);
    background-size: cover;
}
.sec2 .imgSite3 strong {
    position: absolute;
    left: 4%;
    top: 4%;
    font-family: 'MaruBuri';
    font-size: 30px;
    color: #000;
}
.sec2 .imgSite3 .nyaa {
    position: absolute;
    top: -2.5vh;
    right: 1vw;
}

/* .sec2 .imgSite3 .nyaa a:hover {
    background: #e6e6e6;
    border: 1px solid #adadad;
}

.sec2 .imgSite3:hover .nyaa p,
.sec2 .imgSite3:hover .nyaa a,
.sec2 .imgSite3:hover .nyaa h2 {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.sec2 .imgSite3:hover .nyaa {
    visibility: visible;
    opacity: 1;
} */
.sec2 .imgSite4{
    position: absolute;
    right: 30%;
    bottom: 2%;
    background-color: blue;
    width: 40vw;
    height: 50vh;
    background: url(../../img/imac-harman-kardon-speakers.jpg);
    background-size: cover;
}
.sec2 .imgSite4 strong {
    position: absolute;
    left: 4%;
    top: 5%;
    font-family: 'MaruBuri';
    font-size: 30px;
    color: #000;
}
.sec2 .imgSite4 span {
    display: block;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
}
.sec2 .imgSite4 .nyaa {
    position: absolute;
    bottom: 1vh;
    right: 0;
}

/* .sec2 .imgSite4 .nyaa a:hover {
    background: #e6e6e6;
    border: 1px solid #adadad;
}

.sec2 .imgSite4:hover .nyaa p,
.sec2 .imgSite4:hover .nyaa a,
.sec2 .imgSite4:hover .nyaa h2 {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.sec2 .imgSite4:hover .nyaa {
    visibility: visible;
    opacity: 1;
} */
/* sec3 */

.sec3{
    position: relative;
    height: 140vh;
}
.svgImg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    /* width: 10vw;
    height: 10vh; */
    margin-top: 45vh;
}
.svgImg img{
    position: absolute;
    top: 0; left: 50%;
    transform: translate(-50%, 0);
    width: 10vw;
    height: 10vw;
}
.svgImg p{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 25%);
    width: 100vw;
    height: 100vh;
    font-size: 50px;
    text-align: center;
    font-family: 'MaruBuri-Regular';
}

/* sec4 */

.sec4{
     position: relative;
     height: 600vh;
}
.sec4 h1 {
    position: absolute;
    top: 30vh;
    left: 15vw;
    font-size: 20vw;
    line-height: 1;
    z-index: 1000;
    font-family: "Saol Display Regular";
    font-weight: normal;
    text-align: center;
}
.sec4 .effect1{
    position: absolute;
    top: 100vh; left: 0;
    width: 70vw;
    height: 70vh;
}
.sec4 iframe{
    width: 100%;
    height: 100%;
}
.sec4 .s4codeview1{
    display: inline-block;
    position: absolute;
    top: 161.8vh;
    right: 4vw;
    font-size: 40px;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 10px 100px;
}
.sec4 .s4desc1{
    position: absolute;
    top: 170vh; left: 10vw;
}
.sec4 .s4desc1 h2{
    font-size: 80px;
    font-family: "Saol Display Regular";
}
.sec4 .s4desc1 p{
    font-size: 22px;
    font-family: 'MaruBuri-Regular';
}
.sec4 .effect2{
    background-color: red;
    position: absolute;
    top: 220vh; right: 0;
    width: 70vw;
    height: 70vh;
}
.sec4 .s4codeview2{
    display: inline-block;
    position: absolute;
    top: 281.5vh;
    left: 5%;
    font-size: 40px;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 10px 100px;
}
.sec4 .s4desc2{
    position: absolute;
    top: 290vh; right: 10vw;
}
.sec4 .s4desc2 h2{
    font-size: 80px;
    font-family: "Saol Display Regular";
}
.sec4 .s4desc2 p{
    font-size: 22px;
    font-family: 'MaruBuri-Regular';
    text-align: right;
}
.sec4 .effect3 {
    position: absolute;
    top: 340vh;
    left: 0;
    width: 70vw;
    height: 70vh;
    background: blue;
}
.sec4 .s4codeview3 {
    display: inline-block;
    position: absolute;
    top: 401.8vh;
    right: 4vw;
    font-size: 40px;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 10px 100px;
}

.sec4 .s4desc3 {
    position: absolute;
    top: 410vh;
    left: 10vw;
}

.sec4 .s4desc3 h2 {
    font-size: 80px;
    font-family: "Saol Display Regular";
}

.sec4 .s4desc3 p {
    font-size: 22px;
    font-family: 'MaruBuri-Regular';
}
.sec4 .effect4 {
    background-color: red;
    position: absolute;
    top: 460vh;
    right: 0;
    width: 70vw;
    height: 70vh;
}

.sec4 .s4codeview4 {
    display: inline-block;
    position: absolute;
    top: 521.3vh;
    left: 5%;
    font-size: 40px;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 10px 100px;
}

.sec4 .s4desc4 {
    position: absolute;
    top: 530vh;
    right: 10vw;
}

.sec4 .s4desc4 h2 {
    font-size: 80px;
    font-family: "Saol Display Regular";
}

.sec4 .s4desc4 p {
    font-size: 22px;
    font-family: 'MaruBuri-Regular';
    text-align: right;
}
/* sec5 */

.sec5 {
    position: relative;
    height: 1250vh;
    background: #000;
}
.s5title{
    background: url(../../img/pawel-czerwinski-YB_Z25QzBsA-unsplash\ 1.jpg);
    position: absolute;
    width: 100%;
    height: 113vh;
    text-align: center;
}
.s5title h1{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    font-family: "Saol Display Regular";
}
.s5title h1 .s5desc{
    font-size: 22px;
    display: block;
    text-align: center;
    font-family: 'MaruBuri-Regular';
}

.s5back {
    width: 100%;
    height: 137vh;
    position: relative;
    top: 113vh;
    left: 0;
}
.s5back .imgWrap{
    position: absolute;
    top: 50vh;
    left: 10%;
}
.s5ques{
    position: absolute;
    top: 50vh;
    left: 30%;
    margin-right: 10vw;
}
.newchange{
    font-size: 40px;
    line-height: 1.5;
    color: #fff;
    font-family: 'MaruBuri-Regular';
}
.newP{
    color: #fff;
    font-size: 22px;
    margin-top: 10vh;
    font-family: 'MaruBuri-Regular';
}
.s5TotalDesc1 {
    position: relative;
    top: 120vh;
    left: 0;
    width: 100vw;
    height: 100vh;

}
.s5TotalDesc1 .s5Img {
    position: absolute;
    top: 0;
    left: 0;
    width: 60vw;
    height: 80vh;
}
.s5TotalDesc1 .s5Img img{
    width: 100%;
    height: 100%;
}
.s5TotalDesc1 .s5Detail{
    position: absolute;
    top: 0;
    left: 63vw;
    width: 30vw;
    height: 80vh;
}
.s5TotalDesc1 .s5Detail .s5DetailTitle{
   color: #fff;
}
.s5TotalDesc1 .s5Detail .s5DetailTitle .detailName{
   color: #fff;
   font-size: 50px;
   line-height: 0.8;
   margin-bottom: 5vh;
}
.s5TotalDesc1 .s5Detail .s5DetailTitle span{
    display: block;
    font-size: 22px;
    text-align: left;
}
.s5TotalDesc1 .s5Detail .reactBox{
    border: 1px solid #fff;
    width: 8.5vw;
    height: 5vh;
    position: relative;
    display: inline-block;
    margin-top: 4vh;
}
.s5TotalDesc1 .s5Detail .reactBox .imgWrap{
    position: absolute;
    left: 0; top: 0;
    width: 3.5vw;
    height: 5vh;
    display: inline-block;
}
.s5TotalDesc1 .s5Detail .reactBox img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
} 
.s5TotalDesc1 .s5Detail .reactBox .desc{
    color: #fff;
    font-size: 16px;
    position: absolute;
    top: 0.6vh; left: 4vw; 
 }  
.s5TotalDesc1 .s5Detail .firebaseBox{
    border: 1px solid #fff;
    width: 8.5vw;
    height: 5vh;
    position: relative;
    display: inline-block;
    margin-top: 4vh;
    margin-left: 1vw;
}
.s5TotalDesc1 .s5Detail .firebaseBox .imgWrap {
    position: absolute;
    left: 0.5vw; top: 0;
    width: 2vw;
    height: 5vh;
    display: inline-block;
}
.s5TotalDesc1 .s5Detail .firebaseBox img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
} 
.s5TotalDesc1 .s5Detail .firebaseBox .desc {
    color: #fff;
    font-size: 16px;
    position: absolute;
    top: 0.6vh; left: 4vw; 
 }  
 .s5codeView{
     border: 1px solid #fff;
     position: absolute;
     left: 0;
     bottom: 0;
     width: 14vw;
     height: 7vh;
     color: #fff;
     font-size: 20px;
     text-align: center;
     line-height: 2.5;
 }
 .s5Github{
     border: 1px solid #fff;
     position: absolute;
     left: 15vw;
     bottom: 0;
     width: 14vw;
     height: 7vh;
     color: #fff;
     font-size: 20px;
     line-height: 2.5;
     text-align: center;
 }
 .s5TotalDesc2{
     position: relative;
     top: 160vh;
     right: 0;
 }
 .s5TotalDesc2 .s5Img {
     position: absolute;
     top: 0;
     right: 0;
     width: 60vw;
     height: 80vh;
 }

 .s5TotalDesc2 .s5Img img {
     width: 100%;
     height: 100%;
 }
 .s5TotalDesc2 .s5Detail {
     position: absolute;
     top: 0;
     right: 63vw;
     width: 30vw;
     height: 80vh;
 }
 .s5TotalDesc2 .s5Detail .s5DetailTitle {
     color: #fff;
     text-align: right;
 }

 .s5TotalDesc2 .s5Detail .s5DetailTitle .detailName {
     color: #fff;
     font-size: 50px;
     line-height: 0.8;
     margin-bottom: 5vh;
 }

 .s5TotalDesc2 .s5Detail .s5DetailTitle span {
     display: block;
     font-size: 22px;
     text-align: right;
 }

 .s5TotalDesc2 .s5Detail .reactBox {
     border: 1px solid #fff;
     width: 8.5vw;
     height: 5vh;
     position: relative;
     top: 0;
     right: -21.3vw;  
     display: inline-block;
     margin-top: 4vh;
 }

 .s5TotalDesc2 .s5Detail .reactBox .imgWrap {
     position: absolute;
     left: 0.5vw;
     top: 0;
     width: 3.5vw;
     height: 5vh;
     display: inline-block;
 }

 .s5TotalDesc2 .s5Detail .reactBox img {
     width: 100%;
     height: 100%;
     vertical-align: middle;
 }

 .s5TotalDesc2 .s5Detail .reactBox .desc {
     color: #fff;
     font-size: 16px;
     position: absolute;
     top: 0.6vh;
     left: 5vw;
 }

 .s5TotalDesc2 .s5Detail .firebaseBox {
     border: 1px solid #fff;
     width: 8.5vw;
     height: 5vh;
     position: relative;
     top: 0;
     right: -1vw;
     display: inline-block;
     margin-top: 4vh;
     margin-left: 1vw;
 }

 .s5TotalDesc2 .s5Detail .firebaseBox .imgWrap {
     position: absolute;
     left: 0.5vw;
     top: 0;
     width: 3vw;
     height: 5vh;
     display: inline-block;
 }

 .s5TotalDesc2 .s5Detail .firebaseBox img {
     width: 100%;
     height: 100%;
     vertical-align: middle;
 }

 .s5TotalDesc2 .s5Detail .firebaseBox .desc {
     color: #fff;
     font-size: 16px;
     position: absolute;
     top: 0.8vh;
     left: 4vw;
 }

 .s5codeView-left {
     border: 1px solid #fff;
     position: absolute;
     right: 15vw;
     bottom: 0;
     width: 14vw;
     height: 7vh;
     color: #fff;
     font-size: 20px;
     text-align: center;
     line-height: 2.5;
 }

 .s5Github-left {
     border: 1px solid #fff;
     position: absolute;
     right: 0vw;
     bottom: 0;
     width: 14vw;
     height: 7vh;
     color: #fff;
     font-size: 20px;
     line-height: 2.5;
     text-align: center;
 }
 .s5TotalDesc3 {
     position: relative;
     top: 300vh;
     left: 0;
     width: 100vw;
     height: 100vh;

 }

 .s5TotalDesc3 .s5Img {
     position: absolute;
     top: 0;
     left: 0;
     width: 60vw;
     height: 80vh;
 }

 .s5TotalDesc3 .s5Img img {
     width: 100%;
     height: 100%;
 }

 .s5TotalDesc3 .s5Detail {
     position: absolute;
     top: 0;
     left: 63vw;
     width: 30vw;
     height: 80vh;
 }

 .s5TotalDesc3 .s5Detail .s5DetailTitle {
     color: #fff;
 }

 .s5TotalDesc3 .s5Detail .s5DetailTitle .detailName {
     color: #fff;
     font-size: 50px;
     line-height: 0.8;
     margin-bottom: 5vh;
 }

 .s5TotalDesc3 .s5Detail .s5DetailTitle span {
     display: block;
     font-size: 22px;
     text-align: left;
 }

 .s5TotalDesc3 .s5Detail .reactBox {
     border: 1px solid #fff;
     width: 8.5vw;
     height: 5vh;
     position: relative;
     display: inline-block;
     margin-top: 4vh;
 }

 .s5TotalDesc3 .s5Detail .reactBox .imgWrap {
     position: absolute;
     left: 0;
     top: 0;
     width: 3vw;
     height: 5vh;
     display: inline-block;
 }

 .s5TotalDesc3 .s5Detail .reactBox img {
     width: 100%;
     height: 100%;
     vertical-align: middle;
 }

 .s5TotalDesc3 .s5Detail .reactBox .desc {
     color: #fff;
     font-size: 16px;
     position: absolute;
     top: 0.6vh;
     left: 4vw;
 }

 .s5TotalDesc3 .s5Detail .firebaseBox {
     border: 1px solid #fff;
     width: 8.5vw;
     height: 5vh;
     position: relative;
     display: inline-block;
     margin-top: 4vh;
     margin-left: 1vw;
 }

 .s5TotalDesc3 .s5Detail .firebaseBox .imgWrap {
     position: absolute;
     left: 0.5vw;
     top: 0;
     width: 2vw;
     height: 5vh;
     display: inline-block;
 }

 .s5TotalDesc3 .s5Detail .firebaseBox img {
     width: 100%;
     height: 100%;
     vertical-align: middle;
 }

 .s5TotalDesc3 .s5Detail .firebaseBox .desc {
     color: #fff;
     font-size: 16px;
     position: absolute;
     top: 0.6vh;
     left: 4vw;
 }

 .s5codeView {
     border: 1px solid #fff;
     position: absolute;
     left: 0;
     bottom: 0;
     width: 14vw;
     height: 7vh;
     color: #fff;
     font-size: 20px;
     text-align: center;
     line-height: 2.5;
 }

 .s5Github {
     border: 1px solid #fff;
     position: absolute;
     left: 15vw;
     bottom: 0;
     width: 14vw;
     height: 7vh;
     color: #fff;
     font-size: 20px;
     line-height: 2.5;
     text-align: center;
 }

/* sec6 */

/* .s5TotalDesc .s5Detail .reactBox .imgWrap{
    width: 4vw;
    height: 5vh;
    background: url(../../img/REACT.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center,top;
    display: inline-block;

}
.s5TotalDesc .s5Detail .reactBox .imgWrap img{
    width: 100%;
    height: 100%;
}
.s5TotalDesc .s5Detail .reactBox strong::after{
    content: 'React.js';
    color: #fff;
    text-align: center;
    z-index: -1;
} */
/* 
#section3 {
    position: relative;
    width: 100%;
    margin-top: 100px;
    background-color: #EFBDAE;
    height: 6121px;
}

.s3title {
    font-size: 400px;
    font-family: 'saoldisplay';
    text-align: center;
    padding-top: 175px;
}

.iWrap {
    margin-top: 330px;
}
iframe {
    width: 66%;
    height: 10%;
}

.s3frame1 {
    display: inline-block;
    position: absolute;
    top: 940px;
    left: 0;
    width: 100%;
    height: 100%;
}
.s3codeview {
    border: 1px solid #000;
    border-radius: 50px;
    display: inline-block;
    font-size: 40px;
    font-family: 'saoldisplay';
    padding: 10px 50px;
    position: absolute;
    top: 71.4vh; left: 68vw;
}

.s3desc {
    margin-left: 150px;
}

.s3desc h2 {
    font-family: 'saoldisplay';
    font-size: 80px;
    margin-top: 10px;
}

.s3desc p {
    font-family: 'EliceDigitalbaeum_Regular';
    font-size: 22px;
    text-align: left;
    margin-top: 10px;
    position: absolute;
    margin-bottom: 340px;
}

.s3frame2 {
    display: inline-block;
    position: absolute;
    top: 2220px;
    right: 0;
    width: 100%;
    height: 100%;
}

.s3codeview2 {
    border: 1px solid #000;
    border-radius: 50px;
    display: inline-block;
    font-size: 40px;
    font-family: 'saoldisplay';
    padding: 10px 50px;
    margin-left: 150px;
    margin-top: 535px;
}

.s3desc2 {
    margin-right: 150px;
    text-align: right;
}

.s3desc2 h2 {
    font-family: 'saoldisplay';
    font-size: 80px;
    margin-top: 10px;
}

.s3desc2 p {
    font-family: 'EliceDigitalbaeum_Regular';
    font-size: 22px;
    margin-top: 10px;
    text-align: right;
    margin-bottom: 340px;

}

.s3frame3 {
    display: inline-block;
    position: absolute;
    top: 3480px;
    left: 0;
    width: 100%;
    height: 100%;
}

.s3codeview3 {
    border: 1px solid #000;
    border-radius: 50px;
    display: inline-block;
    font-size: 40px;
    font-family: 'saoldisplay';
    padding: 10px 50px;
    margin-left: 50px;
    margin-top: -100px;
}

.s3desc3 {
    margin-left: 150px;
}

.s3desc3 h2 {
    font-family: 'saoldisplay';
    font-size: 80px;
    margin-top: 10px;
}

.s3desc3 p {
    font-family: 'EliceDigitalbaeum_Regular';
    font-size: 22px;
    text-align: left;
    margin-top: 10px;
    position: absolute;
}

.s3frame4 {
    display: inline-block;
    position: absolute;
    top: 4760px;
    right: 0;
    width: 100%;
    height: 100%;
}

.s3codeview4 {
    border: 1px solid #000;
    border-radius: 50px;
    display: inline-block;
    font-size: 40px;
    font-family: 'saoldisplay';
    padding: 10px 50px;
    margin-left: 150px;
    margin-top: 530px;
}

.s3desc4 {
    margin-right: 150px;
    text-align: right;
}

.s3desc4 h2 {
    font-family: 'saoldisplay';
    font-size: 80px;
    margin-top: 10px;
}

.s3desc4 p {
    font-family: 'EliceDigitalbaeum_Regular';
    font-size: 22px;
    margin-top: 10px;
    text-align: right;
    margin-bottom: 430px;
}
#section4 {
  background-color: #000;
  height: 10000px;

}

.s4titleImg {
    position: relative;
    width: 100%;
    height: 800px;
}

.s4titleImg img {
    width: 100%;
    height: 100%;
}

.react {
    position: absolute;
    top: 45%;
    left: 45%;
    font-size: 80px;
    text-align: center;
}

.react strong {
    font-size: 80px;
    font-family: 'saoldisplay';
}

.react p {
    font-size: 22px;
    font-family: 'EliceDigitalbaeum_Regular';
}

.s4intruduce {
    background-color: #000;
    position: relative;
    padding-top: 300px;
}

.s4svg {
    position: absolute;
    top: 300px; left: 15%;
    display: inline-block;
}

.s4text {
    display: inline-block;
    padding-left: 450px;

}

.s4text h2 {
    color: #fff;
    font-size: 44px;
    margin-bottom: 55px;
    font-family: 'ChosunilboNM';
    line-height: 1.4;
}
.s4text p {
    color: #fff;
    font-size: 20px;
    font-family: 'MaruBuri-Regular';
    line-height: 1.6;
    margin-bottom: 645px;
}
.s4reactpage{
    width: 60vw;
    height: 80vh;
    color: #fff;
}
.s4reactpage img{
    width: 100%;
    height: 100%;
}
#section5{}
 */
