


/* cardType */
#cardType {
    background-color: #fff3e0;
}

.cardType01 {
    padding: 100px 0;
} 
.cardType01 h2 {
    text-align: center;  /* 가운데 정렬 */
    padding: 40px 20px 20px 20px;
} 
.cardType01 p {
    text-align: center;
    padding-bottom: 100px;

} 
.cardType01 .card-box {
    overflow: hidden;
}
.cardType01 .card-box div {
    float: left;  /* 상위박스에게 overflow:hidden을 줘야 구조가 안깨진다. */
    width: 23.5%;
    margin-right: 2%;
    height: 300px;
    background-color: rgba(0,0,0,0.4);
}
.cardType01 .card-box div:last-child/*마지막 박스*/ {
    margin-right: 0;
}