@charset "utf-8";

/* 여백 초기화 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
figure,
figcaption {
    margin: 0;
    padding: 0
}

/* 폰트 초기화 */
body,
button,
input,
select,
table,
textarea {
    font-size: 14px;
    line-height: 1.5;
    color: #222;
    font-family: var(--fontNexon1M), AppleSDGothicNeo-Regular, 'Malgun Gothic', '맑은 고딕', dotum, '돋움', sans-serif;
}

/* html { 
    font-size:10px;
} */
* {
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* a 링크 초기화 */
a {
    text-decoration: none;
}

/* 목록 초기화 */
ol,
ul {
    list-style: none;
}

/* 스타일 초기화 */
strong {
    font-weight: normal;
}

em {
    font-style: normal;
}

img {
    width: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    /* overscroll-behavior: none;
    -webkit-overflow-scrolling: touch; */
}

.container {
    width: 80%;
    margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}
.scroll {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    will-change: transform;
    overflow: hidden;
}
/* .nyaa {
    background: rgba(51, 51, 51, .5);
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.nyaa h2,
.nyaa p,
.nyaa a {
    position: relative;
    transform: scale(0);
    opacity: 0;
    transition: all 0.3s;
}

.nyaa h2 {
    padding: 30px 25px;
    width: 100%;
    background: #333;
    color: #fff;
    font-size: 1.875rem;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.nyaa p {
    padding: 0 15px;
    font-size: 1rem;
    margin-bottom: 10px;
    line-height: 2;
    color: #fff;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
    text-indent: 10px;
}

.nyaa a {
    margin-right: 15px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #333;
    float: right;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
    font-size: 13px;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    margin-top: 40px;
} */

/* .nyaa a:hover {
    background: #e6e6e6;
    border: 1px solid #adadad;
}

:hover .nyaa p,
:hover .nyaa a,
:hover .nyaa h2 {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

:hover .nyaa {
    visibility: visible;
    opacity: 1;
} */