
/* layout */
#contents {}

#section1 {
    background: #F0EDEA;
}

#section2 {
    background: #F0EDEA;
}

#section3 {
    background: #F0EDEA;
}

#section4 {
    background: #EFBDAE;
}

#section5 {
    background: #fff;
}

#section6 {
    height: 100vh;
    background: #888;
}

/* header */
#header {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 10000;
    font-family: 'MaruBuri';
    text-align: center;
}

#header strong {
    display: block;
    font-size: 0.5em;
    font-weight: normal;
}

/* sec1 */
.sec1 {
    height: 170vh;
    position: relative;
}

.sec1 h1 {
    position: absolute;
    bottom: 0;
    left: 1.5vw;
    font-size: 20vw;
    line-height: 1;
    z-index: 1000;
    font-family: "Saol Display Regular";
    font-weight: normal;
}

.sec1 .imgWrap1 {
    position: absolute;
    left: 33vw;
    top: 15vw;
    width: 26vw;
    height: 36vw;
    position: relative;
   
}
.sec1 .imgWrap1::before{
    content: '';
    background: url(../../img/KakaoTalk_20211128_120100812.jpg);
    background-position: center top;
    background-size: cover;
    transition: all 0.3s;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;right: 0; bottom: 0;
}
.sec1 .imgWrap1 strong {
    position: absolute;
    right: 30px;
    top: 80%;
    transform: translateY(-50%);
    color: #fff;
    font-family: 'MaruBuri';
    font-size: 30px;
    text-align: center;
    font-weight: normal;
}

.sec1 .imgWrap1 strong span {
    display: block;
    font-size: 18px;
    font-weight: 300;
}

.sec1 .imgWrap2 {
    position: absolute;
    left: 4vw;
    top: 5vw;
    width: 15vw;
    height: 20vw;
    background: #ccc;
    background: url(../../img/about02@2x.jpg);
    background-position: center top;
    background-size: cover;
    overflow: hidden;
}

.sec1 .imgWrap2 strong {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'MaruBuri';
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    white-space: nowrap;
}

.sec1 .imgWrap2 strong span {
    display: block;
    font-size: 18px;
    font-weight: 100;
}

.sec1 .imgWrap3 {
    position: absolute;
    right: 4vw;
    top: 23vw;
    width: 25vw;
    height: 14vw;
    background: url(../../img/about03@2x.jpg);
    background-position: center top;
    background-size: cover;
    overflow: hidden;
}

.sec1 .imgWrap3 strong {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'MaruBuri';
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    white-space: nowrap;
}

.sec1 .imgWrap3 strong span {
    display: block;
    font-size: 18px;
    font-weight: 100;
}

.sec1 .imgWrap4 {
    position: absolute;
    left: 8vw;
    top: 40vw;
    width: 30vw;
    height: 20vw;
    background: url(../../img/about04@2x.jpg);
    background-position: center top;
    background-size: cover;
    overflow: hidden;
}

.sec1 .imgWrap4 strong {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'MaruBuri';
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    white-space: nowrap;
}

.sec1 .imgWrap4 strong span {
    display: block;
    font-size: 18px;
    font-weight: 100;
}

.sec1 .imgWrap5 {
    position: absolute;
    right: 2vw;
    top: 50vw;
    width: 25vw;
    height: 34vw;
    background: url(../../img/about05@2x.jpg);
    background-position: center top;
    background-size: cover;
    overflow: hidden;
}

.sec1 .imgWrap5 strong {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'MaruBuri';
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    white-space: nowrap;
}

.sec1 .imgWrap5 strong span {
    display: block;
    font-size: 18px;
    font-weight: 100;
}
/* sec2 */
.sec2{
    position: relative;
    height: 250vh;
}
.sec2 h1{
    position: absolute;
    left: 1.5vw; bottom: 0;
    font-size: 20vw;
    line-height: 1;
    z-index: 1000;
    font-family: "Saol Display Regular";
    font-weight: normal;

}
.sec2 .imgSite1{
    position: absolute;
    top: 20vh;
    right: 17vw;
    background-color: red;
    width: 40vw;
    height: 80vh;
    background: url(../../img/about06.jpg);
    background-size: cover;
}
.sec2 .imgSite1 strong {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0);
    font-family: 'MaruBuri';
    font-size: 30px;
    color: #fff;
}
.sec2 .imgSite1 span {
      display: block;
      font-size: 18px;
      font-weight: 100;
      text-align: center;
}
.sec2 .imgSite1 .nyaa{
    position: absolute;
    top: 16vh; left: 10vw;
}
.nyaa a {
    margin-right: 15px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #333;
    float: right;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
    font-size: 13px;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    margin-top: 40px;
}

.sec2 .imgSite2{
    position: absolute;
    left: 0;
    top:40%;
    background-color: blue;
    width: 45vw;
    height: 50vh;
    background: url(../../img/about07.jpg);
    background-size: cover;
}
.sec2 .imgSite2 strong {
    position: absolute;
    left: 20%;
    top: 4%;
    transform: translate(-50%, 0);
    font-family: 'MaruBuri';
    font-size: 1.875rem;
    color: #000;
}

.sec2 .imgSite2 span {
    display: block;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
}
.sec2 .imgSite2 .nyaa {
    position: absolute;
    top: 0;
    right: 1vw;
}

.sec2 .imgSite3{
    position: absolute;
    right: 5%;
    top:53%;
    background-color: blue;
    width: 45vw;
    height: 50vh;
    background: url(../../img/about8.jpg);
    background-size: cover;
}
.sec2 .imgSite3 strong {
    position: absolute;
    left: 4%;
    top: 4%;
    font-family: 'MaruBuri';
    font-size: 30px;
    color: #000;
}
.sec2 .imgSite3 .nyaa {
    position: absolute;
    top: -2.5vh;
    right: 1vw;
}

.sec2 .imgSite4{
    position: absolute;
    right: 30%;
    bottom: 2%;
    background-color: blue;
    width: 40vw;
    height: 50vh;
    background: url(../../img/imac-harman-kardon-speakers.jpg);
    background-size: cover;
}
.sec2 .imgSite4 strong {
    position: absolute;
    left: 4%;
    top: 4%;
    font-family: 'MaruBuri';
    font-size: 30px;
    color: #fff;
}
.sec2 .imgSite4 span {
    display: block;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
}
.sec2 .imgSite4 .nyaa {
    position: absolute;
    top: -2.3vh;
    right: 0;
}
