/* 카드 타입 유형 */
body {
    background-color: #f3f3f3;
}

.cardType {
    margin: 150px 0;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0,0,0,0.1); 
}

/* ex-cardtype */
.cardType .container .ex-cardType{
    font-family: 'GmarketSans';

}
.cardType .container .ex-cardType h2{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 67px;
    padding: 241px 0 0 0;

}

.cardType .container .ex-cardType .card-wrap{
    display: flex;
    justify-content: space-between; 
}
.cardType .container .ex-cardType .card-wrap .card{
    background-color: #f2f2f2;
    width: 387px;
    height: 580px;
    margin-bottom: 240px;
}
.cardType .container .ex-cardType .card-wrap .card .card-title{
    font-size: 14px;
    margin: 56px 0 0 46px;
    display: block;

}
.cardType .container .ex-cardType .card-wrap .card .card-desc {
    font-size: 24px;
    margin: 22px 0 67px 46px;
    display: block;
}
.cardType .container .ex-cardType .card-wrap .card .card-img {
    display: block;
    margin-left: 46px;
}


/* ex-cardtype2 */
.ex-cardType2 {
    font-family: 'NanumSquare';
    padding: 241px 0;
    color: #000;
    text-align: center;}
.ex-cardType2 h2{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.ex-cardType2 p{
    font-size: 18px;
    text-align: center;
    margin-bottom: 110px;
}
.ex-cardType2 .card-wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 241px;
}
.ex-cardType2 .card-wrap .card{
    border-radius: 5px;
    border: 1px solid #eeee;
    text-align: left;
}
.ex-cardType2 .card-wrap .card .card-img{
    width: 100%;
    height: 377px;
    display: block;
}
.ex-cardType2 .card-wrap .card .card-title{
    font-size: 26px;
    font-weight: bold;
    display: inline-block;
    text-align: left;
    margin-left: 45px; 
    margin-bottom: 14px;
    margin-top: 33px;
    margin-right: 15px;
}
.ex-cardType2 .card-wrap .card .new{
    background-color: #FA615B;
    color: #fff;
    border-radius: 50px;
    padding: 5px 10px;
}   
.ex-cardType2 .card-wrap .card .card-desc{
    font-size: 14px;
    display: block;
    text-align: left;
    margin-left: 45px; 
    margin-bottom: 14px;
}
.ex-cardType2 .card-wrap .card .btn {
    display: inline-block; 
    margin-left: 45px; 
    padding-bottom: 30px;
}
.ex-cardType2 .card-wrap .card  .green{
    background-color: #05D686;
    color: #fff;
    margin-right: 20px;
    padding: 10px 20px;
    border-radius: 3px;
}
.ex-cardType2 .card-wrap .card  .white {
    border: 1px solid #eeee;
    background-color: #fff;
    color: #AEB7B5;
    padding: 10px 20px;
}

.sliderType {
    margin: 150px 0;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0,0,0,0.1);
}
.swiper {
    position: relative;
    width: 100%;
    overflow: hidden;
}


.swiper-wrapper {}
.swiper-wrapper .swiper-slide:nth-child(1){
    background-image: url(img/01.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
.swiper-wrapper .swiper-slide:nth-child(2){
    background-image: url(img/slidertype02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
.swiper-wrapper .swiper-slide:nth-child(3){
    background-image: url(img/slidertype03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
.swiper-wrapper .swiper-slide:nth-child(4){
    background-image: url(img/slidertype01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
.swiper-wrapper .swiper-slide:nth-child(5){
    background-image: url(img/slidertype02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
.swiper-wrapper .swiper-slide:nth-child(6){
    background-image: url(img/slidertype03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
.swiper-slide .slider-inner{
    width: 1200px;
    margin: 0 auto;
    color: white;
}
.swiper-slide .slider-inner em{
    font-family: 'NEXON Lv1 Gothic OTF';
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 100px ;/*마진이 안먹히면 display 구조를 확인 em태그는 인라인구조 */
    display: block;
}
.swiper-slide .slider-inner h3{
    font-family: 'GmarketSans';
    font-size: 100px;
    font-weight: 300;
    line-height: 1.2;
    text-indent: -8px;
}
.swiper-slide .slider-inner p{
    font-family: 'NEXON Lv1 Gothic OTF';
    font-size: 20px;
    font-weight: 300;
}
.swiper-slide .slider-inner .btn{
    display: block;
    padding-bottom: 100px;
    margin-top: 260px;
}
.swiper-slide .slider-inner .btn a{
    width: 200px; height: 50px;
    display: inline-block;
    font-family: 'NEXON Lv1 Gothic OTF';
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    margin-right: 7px;
}   
.swiper-slide .slider-inner .btn a.white{
    background: #fff;
    color: #000;
}
.swiper-slide .slider-inner .btn a.black{
    background: #000;
    color: #fff;
}
.swiper-pagination
{
    position: absolute;
    left: 50% !important;
    bottom: 35px;
    transform: translateX(-50%);
}
.swiper-pagination .swiper-pagination-bullet{
    width: 15px; height: 15px;
    border: 3px solid #fff;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    box-sizing: border-box;
    opacity: 1;
    background-color: transparent;
}
.swiper-pagination .swiper-pagination-bullet-active {
    background-color: #fff;
}
.swiper-button-prev{
    width: 21px; height: 41px;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;

}
.swiper-button-next{
    width: 21px; height: 41px;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}










