/* imageType */
body {
    background-color: #f3f3f3;
}

.imageType {
    margin: 150px 0;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

/* imageType */
.imgType01 {
    padding: 100px 0;
    font-family: "nanumsquare";
    font-size: 50px;
}
.imgType01 .h2{
    font-size: 50px;
    font-weight: 800;
    margin-top: 100px;
}
.imgType01 .card-wrap {
    margin-top: 96px;
    overflow: hidden;
   
}
.imgType01 .card-wrap .card {
    position: relative;
    float: left; 
}
.imgType01 .card-wrap .card .foot{
    color: #fff;
    position: absolute;
    width: 375px;
    bottom: 45px;
    left: 30px;  
}
.imgType01 .card-wrap .card .foot:last-child{
    margin: 20px;
}
.imgType01 .card-wrap .card .card-title {
    font-size: 30px;
    display: block;
    margin-bottom: 20px;
}
.imgType01 .card-wrap .card .card-desc {
    font-size: 14px;
    display: block;
    margin-bottom: 20px;
    
}
.imgType01 .card-wrap .card .site {
    font-size: 14px;
    border: solid 1px #9A481D;
    padding: 8px 20px;
}
.imgType01 .card-wrap .card2 {
    position: relative;
    float: left; 
    margin-left: 20px;
}
.imgType01 .card-wrap .card2 .foot{
    color: #000;
    position: absolute;
    width: 375px;
    bottom: 45px;
    left: 30px;  
}
.imgType01 .card-wrap .card2 .foot:last-child{
    margin: 20px;
}
.imgType01 .card-wrap .card2 .card-title {
    font-size: 30px;
    display: block;
    margin-bottom: 20px;
}
.imgType01 .card-wrap .card2 .card-desc {
    font-size: 14px;
    display: block;
    margin-bottom: 20px;
}
.imgType01 .card-wrap .card2 .site {
    font-size: 14px;
    border: solid 1px #9A481D;
    padding: 8px 20px;
}

/* imgae type 2 */
/* imgType02 */
#imgtype {
    margin: 150px 0 602px 0;
}


.imgtype02 {
    font-family: "nanumsquare";
    font-weight: 500;
    font-style: normal;
}
.imgtype02 h2 {
    margin-bottom: 50px;
    
}

.imgtype02 .card-wrap .card .tlite {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    line-height: 55px;
    color: #fff;
}

.imgtype02 .card-wrap .card .card-bt {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    background: #fff;
    width: 110px;
    height: 30px;
    margin: 40px 138px 0 139px;
    padding: 6px 14px;
    background-color: #000;
    white-space: nowrap;
    border-radius: 40px;
    color: #fff;
}


.imgtype02 .card-wrap .card .img03 {
    margin: 0;
    width: 387px;
    height: 387px;
    position: absolute;
}
.imgtype02 .card-wrap .card .img04 {
    margin: 0 0 0 407px;
    width: 387px;
    height: 387px;
    position: absolute;
}
.imgtype02 .card-wrap .card .img05 {
    margin: 0 0 0 814px;
    width: 387px;
    height: 387px;
    position: absolute;
}


.imgtype02 .card-wrap .card .txt-box01 {
    margin: 169px 0 0 0;
    width: 387px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}
.imgtype02 .card-wrap .card .txt-box02 {
    margin: 169px 0 0 407px;
    width: 387px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}
.imgtype02 .card-wrap .card .txt-box03 {
    margin: 169px 0 0 814px;
    width: 387px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}